/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml

!requirements.txt
!version.txt

/docs/build
!/docs/Makefile

/build/

/runs 
/results
/scripts/local_trash

!/media/**